* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #fff;
    color: #333;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: #ff4d4d;
}

.navbar nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

.navbar nav a:hover {
    color: #f7b500;
}

.nav-buttons button {
    margin-left: 10px;
    padding: 8px 20px;
    border-radius: 6px;
    border: none;
}

.nav-buttons button:hover {
    background-color: #f8a100;
}

.login {
    background: #ff4d4d;
    border: 1px solid #ff4d4d;
    color: #ffecec;
}

.signup {
    background: #ff4d4d;
    color: #fff;
}

/* Hero Section */
.hero {
    display: flex;
    padding: 60px;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.order-btn {
    padding: 12px 30px;
    background: #ff4d4d;
    color: #fff;
    border-radius: 8px;
    border: none;
    margin-bottom: 20px;
}

.order-btn:hover {
    background-color: #48c479;
}

.search-box {
    display: flex;
    gap: 10px;
}

.search-box input,
.search-box select {
    padding: 12px;
    width: 200px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.search-btn {
    padding: 12px 20px;
    background: #ff4d4d;
    color: #fff;
    border-radius: 6px;
    border: none;
}

.search-btn:hover {
    background-color: #48c479;
}


/* Hero Image */
.hero-img img {
    width: 450px;
    border-radius: 15px;
}

/* Categories */
.categories {
    padding: 40px;
    text-align: center;


}

.category-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.cat {
    padding: 20px 40px;
    background: #ffecec;
    border-radius: 12px;
    font-size: 18px;
}

/* Restaurants */
.restaurants {
    padding: 40px;
}

.rest-grid {
    display: flex;
    gap: 25px;
    margin-top: 20px;
}

.rest-card {
    width: 250px;
    background: #fff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.rest-card img {
    width: 100%;
    height: 150px;
    border-radius: 12px;
    object-fit: cover;
}

.rating {
    display: inline-block;
    margin-top: 10px;
    background: #48c479;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    font-weight: bold;
}

/* Offers */
.offers {
    padding: 40px;
}

.offer-grid {
    display: flex;
    gap: 20px;
}

.offer {
    background: #ffefef;
    padding: 20px;
    border-radius: 12px;
    flex: 1;
    text-align: center;
}

/* Testimonials */
.testimonials {
    padding: 40px;
}

.testimonial-grid {
    display: flex;
    gap: 20px;
}

.t-card {
    flex: 1;
    background: #ffecec;
    padding: 20px;
    border-radius: 12px;
}

.stars {
    font-size: 22px;
    color: #f7b500;
    margin: 10px 0;
}

.app-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 8%;
    background: #fff7f2;
    border-radius: 20px;
    margin: 50px auto;
}

.app-content h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 10px;
}

.app-content p {
    font-size: 18px;
    color: #555;
    margin-bottom: 25px;
    max-width: 450px;
}

.app-buttons {
    display: flex;
    gap: 15px;
}

.store-btn {
    padding: 14px 25px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
}

.google-play {
    background: #000;
    color: #fff;
}

.app-store {
    background: #ff6b00;
    color: #fff;
}

.store-btn:hover {
    opacity: 0.85;
}

.app-preview img {
    width: 220px;
    border-radius: 20px;
}

.footer {
    background: #111;
    color: #fff;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
}

.footer-section {
    width: 30%;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #f8a100;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 6px;
}

.footer-section a {
    color: #f8a100;
    text-decoration: none;
}

.social-icons span {
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.social-icons span:hover {
    opacity: 0.7;
}

.footer p {
    text-align: center;
    margin-top: 20px;
    color: #ccc;
}